# Assignment 1 - Data Analysis Movies Dataset

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
base_df = pd.read_csv("https://raw.githubusercontent.com/rashida048/Datasets/master/movie_dataset.csv")

In [3]:
base_df.sample(10)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
2175,2175,20000000,Adventure Drama Fantasy Romance,NaN,526,moon monk swordplay bishop cathedral,en,Ladyhawke,Captain Etienne Navarre is a man on whose shou...,14.370111,...,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No force in Heaven will release them. No power...,Ladyhawke,6.8,260,Matthew Broderick Rutger Hauer Michelle Pfeiff...,"[{'name': 'Vittorio Storaro', 'gender': 2, 'de...",Richard Donner
131,131,150000000,Fantasy Action Adventure Family Comedy,http://disney.go.com/disneypictures/gforce/,19585,dyr duringcreditsstinger,en,G-Force,"A team of trained secret agent animals, guinea...",26.710398,...,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The world needs bigger heroes,G-Force,5.1,510,Sam Rockwell Pen\u00e9lope Cruz Tracy Morgan J...,"[{'name': 'Ted Elliott', 'gender': 2, 'departm...",Hoyt Yeatman
1738,1738,28000000,Drama,NaN,9746,buddhism china mountains buddhist monk tibet,en,Kundun,The Tibetans refer to the Dalai Lama as 'Kundu...,7.039189,...,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Kundun,6.8,91,Tenzin Thuthob Tsarong Tencho Gyalpo Tsewang M...,"[{'name': 'Roger Deakins', 'gender': 2, 'depar...",Martin Scorsese
523,523,75000000,Action Adventure Thriller,https://www.epicbuzz.net/movies/vertical-limit,11678,himalaya pakistan climbing k2 mountaineering,en,Vertical Limit,"Trapped near the summit of K2, the world's sec...",13.318744,...,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Mountain Will Decide.,Vertical Limit,5.9,283,Chris O'Donnell Robin Tunney Bill Paxton Scott...,"[{'name': 'Lloyd Phillips', 'gender': 2, 'depa...",Martin Campbell
378,378,100000000,Drama History Thriller,NaN,8665,submarine soviet union core melt north atlanti...,en,K-19: The Widowmaker,When Russia's first nuclear submarine malfunct...,15.625949,...,138.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fate has found its hero.,K-19: The Widowmaker,6.1,264,Harrison Ford Liam Neeson Peter Sarsgaard Joss...,"[{'name': 'Harrison Ford', 'gender': 2, 'depar...",Kathryn Bigelow
1632,1632,30000000,Romance Drama Thriller Crime,http://www.thenextthreedaysmovie.com/index.html,43539,evidence passport argument county jail fingerp...,en,The Next Three Days,A married couple's life is turned upside down ...,34.421696,...,133.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What if you had 72 hours to save everything yo...,The Next Three Days,6.9,905,Russell Crowe Elizabeth Banks Brian Dennehy RZ...,"[{'name': 'Paul Haggis', 'gender': 2, 'departm...",Paul Haggis
3633,3633,5000000,Comedy Drama Romance,http://www.everythingmustgo-themovie.com,45658,alcohol arizona beer playboy independent film,en,Everything Must Go,"When an alcoholic relapses, causing him to los...",9.169411,...,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Lost is a good place to find yourself,Everything Must Go,6.0,208,Rebecca Hall Will Ferrell Glenn Howerton Laura...,"[{'name': 'Sandra Adair', 'gender': 1, 'depart...",Dan Rush
2005,2005,0,Drama Family,NaN,13579,NaN,en,The Longshots,"The true story of Jasmine Plummer who, at the ...",4.030724,...,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Longshots,6.5,11,Ice Cube Keke Palmer Tasha Smith Jill Marie Jo...,"[{'name': 'Fred Durst', 'gender': 2, 'departme...",Fred Durst
4657,4657,0,NaN,NaN,320435,NaN,en,UnDivided,UnDivided documents the true story of how a su...,0.010607,...,0.0,[],Released,NaN,UnDivided,0.0,0,NaN,[],NaN
2139,2139,20000000,Comedy,NaN,4258,sequel parody spoof aftercreditsstinger during...,en,Scary Movie 5,"Home with their newly-formed family, happy par...",36.819044,...,86.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Evil is coming. Bring protection.,Scary Movie 5,4.6,793,Simon Rex Ashley Tisdale Charlie Sheen Lindsay...,"[{'name': 'Marlon Wayans', 'gender': 2, 'depar...",Malcolm D. Lee

# Dropping index colum since already specified

In [4]:
base_df.drop(["index"],axis = 1,inplace=True)

In [5]:
base_df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

## Examining the data types of each column in the DataFrame

In [6]:
base_df.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
cast                     object
crew                     object
director                 object
dtype: object

In [7]:
base_df.shape

(4803, 23)

# 1. Finding movies having Minimum and Maximum runtime

#### Since the "runtime" column of the Dataframe is of Datatype float there's requirement for a conversion

### Movie with Minimum runtime

In [8]:
base_df['original_title'][base_df['runtime'] == base_df['runtime'].min()]

1011                                      The Tooth Fairy
3112                              Blood Done Sign My Name
3669                                 Should've Been Romeo
3809                                  How to Fall in Love
3953                                           Fort McCoy
3992                                            Sardaarji
4068                                            Sharkskin
4118                               Hum To Mohabbat Karega
4205                                             N-Secure
4210                                        दिल जो भी कहे
4241                                            The Salon
4313                                           Below Zero
4318                                      Bleeding Hearts
4322                                   Sex With Strangers
4328                                The Vatican Exorcisms
4405                                    Karachi se Lahore
4435                            The Horror Network Vol. 1
4458                                  Harrison Montgomery
4502                                        Water & Power
4504                              Light from the Darkroom
4553                           America Is Still the Place
4558                       Alleluia! The Devil's Carnival
4564                             Straight Out of Brooklyn
4566                                         Diamond Ruff
4569                                       Mutual Friends
4571    Rise of the Entrepreneur: The Search for a Bet...
4581                                 Gory Gory Hallelujah
4584                         Love in the Time of Monsters
4611                                         The Big Swap
4620                                 Fighting Tommy Riley
4633                                          Death Calls
4657                                            UnDivided
4658                                           The Frozen
4662                                       Little Big Top
4729                                 Dude Where's My Dog?
Name: original_title, dtype: object

In [9]:
base_df[base_df['runtime'] == base_df['runtime'].min() ][['original_title','runtime']]

                                         original_title  runtime
1011                                    The Tooth Fairy      0.0
3112                            Blood Done Sign My Name      0.0
3669                               Should've Been Romeo      0.0
3809                                How to Fall in Love      0.0
3953                                         Fort McCoy      0.0
3992                                          Sardaarji      0.0
4068                                          Sharkskin      0.0
4118                             Hum To Mohabbat Karega      0.0
4205                                           N-Secure      0.0
4210                                      दिल जो भी कहे      0.0
4241                                          The Salon      0.0
4313                                         Below Zero      0.0
4318                                    Bleeding Hearts      0.0
4322                                 Sex With Strangers      0.0
4328                              The Vatican Exorcisms      0.0
4405                                  Karachi se Lahore      0.0
4435                          The Horror Network Vol. 1      0.0
4458                                Harrison Montgomery      0.0
4502                                      Water & Power      0.0
4504                            Light from the Darkroom      0.0
4553                         America Is Still the Place      0.0
4558                     Alleluia! The Devil's Carnival      0.0
4564                           Straight Out of Brooklyn      0.0
4566                                       Diamond Ruff      0.0
4569                                     Mutual Friends      0.0
4571  Rise of the Entrepreneur: The Search for a Bet...      0.0
4581                               Gory Gory Hallelujah      0.0
4584                       Love in the Time of Monsters      0.0
4611                                       The Big Swap      0.0
4620                               Fighting Tommy Riley      0.0
4633                                        Death Calls      0.0
4657                                          UnDivided      0.0
4658                                         The Frozen      0.0
4662                                     Little Big Top      0.0
4729                               Dude Where's My Dog?      0.0

### Since some movies have 0 runtime ,seems like their runtime was never entered. So,lets find the movie having second smallest runtime

In [10]:
base_df[base_df['runtime']>0].min()[['original_title']].values[0]

'#Horror'

### Movie with Maximum runtime

In [11]:
base_df['original_title'][base_df['runtime'] == base_df['runtime'].max()].values[0]

'Carlos'

In [12]:
base_df[['original_title','runtime']][base_df['runtime'] == base_df['runtime'].max()]

     original_title  runtime
2384         Carlos    338.0

# 2. top 5 production houses (by budget) and list their top 5 most popular movies, their revenue and vote_average

### Lets convert string back to list

In [13]:
base_df['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [14]:
from ast import literal_eval

In [15]:
base_df['production_companies'] = base_df['production_companies'].apply(lambda x : literal_eval(x) )

In [16]:
base_df['production_companies'][0]

[{'name': 'Ingenious Film Partners', 'id': 289},
 {'name': 'Twentieth Century Fox Film Corporation', 'id': 306},
 {'name': 'Dune Entertainment', 'id': 444},
 {'name': 'Lightstorm Entertainment', 'id': 574}]

In [17]:
base_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

#### Lets create a DataFrame with only necessary columns so that it is cleaner looking

In [18]:
df_nes = base_df[['budget',
       'original_title','popularity', 'production_companies'
       , 'release_date', 'revenue', 'runtime',
        'status', 'title', 'vote_average',
       'vote_count']]
df_nes.head()

,budget,original_title,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count
0,237000000,Avatar,150.437577,"[{'name': 'Ingenious Film Partners', 'id': 289...",2009-12-10,2787965087,162.0,Released,Avatar,7.2,11800
1,300000000,Pirates of the Caribbean: At World's End,139.082615,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",2007-05-19,961000000,169.0,Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Spectre,107.376788,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",2015-10-26,880674609,148.0,Released,Spectre,6.3,4466
3,250000000,The Dark Knight Rises,112.312950,"[{'name': 'Legendary Pictures', 'id': 923}, {'...",2012-07-16,1084939099,165.0,Released,The Dark Knight Rises,7.6,9106
4,260000000,John Carter,43.926995,"[{'name': 'Walt Disney Pictures', 'id': 2}]",2012-03-07,284139100,132.0,Released,John Carter,6.1,2124

#### Lets parse only the production companies and remove other junk

In [19]:
df_nes['production_companies'] = df_nes['production_companies'].apply(lambda x : [i['name'] for i in x] )
df_nes

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,budget,original_title,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count
0,237000000,Avatar,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,2787965087,162.0,Released,Avatar,7.2,11800
1,300000000,Pirates of the Caribbean: At World's End,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",2007-05-19,961000000,169.0,Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Spectre,107.376788,"[Columbia Pictures, Danjaq, B24]",2015-10-26,880674609,148.0,Released,Spectre,6.3,4466
3,250000000,The Dark Knight Rises,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",2012-07-16,1084939099,165.0,Released,The Dark Knight Rises,7.6,9106
4,260000000,John Carter,43.926995,[Walt Disney Pictures],2012-03-07,284139100,132.0,Released,John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,El Mariachi,14.269792,[Columbia Pictures],1992-09-04,2040920,81.0,Released,El Mariachi,6.6,238
4799,9000,Newlyweds,0.642552,[],2011-12-26,0,85.0,Released,Newlyweds,5.9,5
4800,0,"Signed, Sealed, Delivered",1.444476,"[Front Street Pictures, Muse Entertainment Ent...",2013-10-13,0,120.0,Released,"Signed, Sealed, Delivered",7.0,6
4801,0,Shanghai Calling,0.857008,[],2012-05-03,0,98.0,Released,Shanghai Calling,5.7,7
4802,0,My Date with Drew,1.929883,"[rusty bear entertainment, lucky crow films]",2005-08-05,0,90.0,Released,My Date with Drew,6.3,16

In [20]:
lst = df_nes.sort_values('budget',ascending=False).head(5)['production_companies'].to_list()
lst

[['Walt Disney Pictures',
  'Jerry Bruckheimer Films',
  'Moving Picture Company (MPC)'],
 ['Walt Disney Pictures',
  'Jerry Bruckheimer Films',
  'Second Mate Productions'],
 ['Marvel Studios', 'Prime Focus', 'Revolution Sun Studios'],
 ['DC Comics',
  'Legendary Pictures',
  'Warner Bros.',
  'Bad Hat Harry Productions'],
 ['Walt Disney Pictures']]

### Top 5 production companies based on budget

In [21]:
for i in lst:
    st=''
    for j in i:
        st+=','+j
    print(st[1:])

Walt Disney Pictures,Jerry Bruckheimer Films,Moving Picture Company (MPC)
Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions
Marvel Studios,Prime Focus,Revolution Sun Studios
DC Comics,Legendary Pictures,Warner Bros.,Bad Hat Harry Productions
Walt Disney Pictures

In [22]:
new_df = df_nes
new_df.head()

,budget,original_title,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count
0,237000000,Avatar,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,2787965087,162.0,Released,Avatar,7.2,11800
1,300000000,Pirates of the Caribbean: At World's End,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",2007-05-19,961000000,169.0,Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,Spectre,107.376788,"[Columbia Pictures, Danjaq, B24]",2015-10-26,880674609,148.0,Released,Spectre,6.3,4466
3,250000000,The Dark Knight Rises,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",2012-07-16,1084939099,165.0,Released,The Dark Knight Rises,7.6,9106
4,260000000,John Carter,43.926995,[Walt Disney Pictures],2012-03-07,284139100,132.0,Released,John Carter,6.1,2124

## Since Top 5 production houses is asked in the question 
#### Let us parse all the production houses

In [24]:
df=new_df.production_companies.apply(pd.Series)

In [25]:
df = df.fillna('')
df = df.dropna(how="all")
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,,,,,,,...,,,,,,,,,,
1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,,,,,,,,...,,,,,,,,,,
2,Columbia Pictures,Danjaq,B24,,,,,,,,...,,,,,,,,,,
3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,,,,,,,...,,,,,,,,,,
4,Walt Disney Pictures,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,Columbia Pictures,,,,,,,,,,...,,,,,,,,,,
4799,,,,,,,,,,,...,,,,,,,,,,
4800,Front Street Pictures,Muse Entertainment Enterprises,,,,,,,,,...,,,,,,,,,,
4801,,,,,,,,,,,...,,,,,,,,,,
4802,rusty bear entertainment,lucky crow films,,,,,,,,,...,,,,,,,,,,

In [26]:
df['production_house'] =  df.apply(lambda x:','.join([str(i) for i in x if i != '']), axis=1)

In [27]:
df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,production_house
0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,,,,,,,...,,,,,,,,,,"Ingenious Film Partners,Twentieth Century Fox ..."
1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,,,,,,,,...,,,,,,,,,,"Walt Disney Pictures,Jerry Bruckheimer Films,S..."
2,Columbia Pictures,Danjaq,B24,,,,,,,,...,,,,,,,,,,"Columbia Pictures,Danjaq,B24"
3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,,,,,,,...,,,,,,,,,,"Legendary Pictures,Warner Bros.,DC Entertainme..."
4,Walt Disney Pictures,,,,,,,,,,...,,,,,,,,,,Walt Disney Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,Columbia Pictures,,,,,,,,,,...,,,,,,,,,,Columbia Pictures
4799,,,,,,,,,,,...,,,,,,,,,,
4800,Front Street Pictures,Muse Entertainment Enterprises,,,,,,,,,...,,,,,,,,,,"Front Street Pictures,Muse Entertainment Enter..."
4801,,,,,,,,,,,...,,,,,,,,,,
4802,rusty bear entertainment,lucky crow films,,,,,,,,,...,,,,,,,,,,"rusty bear entertainment,lucky crow films"

In [44]:
new_df['production_house'] = df['production_house']
new_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,budget,original_title,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,production_house
0,237000000,Avatar,150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,2787965087,162.0,Released,Avatar,7.2,11800,"Ingenious Film Partners,Twentieth Century Fox ..."
1,300000000,Pirates of the Caribbean: At World's End,139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",2007-05-19,961000000,169.0,Released,Pirates of the Caribbean: At World's End,6.9,4500,"Walt Disney Pictures,Jerry Bruckheimer Films,S..."
2,245000000,Spectre,107.376788,"[Columbia Pictures, Danjaq, B24]",2015-10-26,880674609,148.0,Released,Spectre,6.3,4466,"Columbia Pictures,Danjaq,B24"
3,250000000,The Dark Knight Rises,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",2012-07-16,1084939099,165.0,Released,The Dark Knight Rises,7.6,9106,"Legendary Pictures,Warner Bros.,DC Entertainme..."
4,260000000,John Carter,43.926995,[Walt Disney Pictures],2012-03-07,284139100,132.0,Released,John Carter,6.1,2124,Walt Disney Pictures

In [45]:
new_df['production_house'].value_counts()

                                                                                                                     351
Paramount Pictures                                                                                                    58
Universal Pictures                                                                                                    45
New Line Cinema                                                                                                       38
Columbia Pictures                                                                                                     37
                                                                                                                    ...
Arsénico Producciones,Zip Films,Fine Productions,Karbo Vantas Entertainment                                            1
Byronic Pose Productions                                                                                               1
Dark Castle Entertainment,Studio Babelsberg StudioBabelsberg Motion Pictures,Don Carmody Productions,Studio Canal      1
Paramount Pictures,Regency Enterprises,Protozoa Pictures,Disruption Entertainment                                      1
Columbia Pictures,Sony Pictures Entertainment                                                                          1
Name: production_house, Length: 3697, dtype: int64

## Top 5 individual production house according budget
#### Lets groupby using prodution house

In [59]:
new_df.groupby('production_house').agg({'budget':np.sum}).sort_values('budget',ascending=False).iloc[1:6,:]

                          budget
production_house
DreamWorks Animation  1652000000
Paramount Pictures    1363186004
Columbia Pictures     1314664736
Marvel Studios        1300000000
Walt Disney Pictures  1039780000

### Top 5 movies of each or them based on popularity

##### Top 5 of DreamWorks Animation

In [67]:
new_df[new_df['production_house']=='DreamWorks Animation'].nlargest(5,'popularity')[['original_title','popularity']]

             original_title  popularity
181           Kung Fu Panda   84.689648
179  Penguins of Madagascar   84.366984
196                Megamind   68.757242
234              The Croods   64.183321
154   Rise of the Guardians   61.788035

##### Top 5 of Paramount Pictures

In [68]:
new_df[new_df['production_house']=='Paramount Pictures'].nlargest(5,'popularity')[['original_title','popularity']]

               original_title  popularity
809              Forrest Gump  138.133331
867   The Godfather: Part III   59.194915
2514                  Top Gun   58.900647
3825                Airplane!   46.116885
2017                    Ghost   41.967005

#### Top 5 of Columbia Pictures

In [65]:
new_df[new_df['production_house']=='Columbia Pictures'].nlargest(5,'popularity')[['original_title','popularity']]

        original_title  popularity
29             Skyfall   93.004993
818   Captain Phillips   52.786917
2659     Groundhog Day   52.744331
350   Charlie's Angels   40.203950
1539         Big Daddy   34.868590

#### Top 5 of Marvel Studios

In [69]:
new_df[new_df['production_house']=='Marvel Studios'].nlargest(5,'popularity')[['original_title','popularity']]

           original_title  popularity
68               Iron Man  120.725053
182               Ant-Man  120.093610
126  Thor: The Dark World   99.499595
129                  Thor   86.493424
31             Iron Man 3   77.682080

In [36]:
new_df['production_companies'].apply(lambda x : 1 if 'Marvel Studios' in x else 0).value_counts()

0    4790
1      13
Name: production_companies, dtype: int64

In [37]:
new_df['production_companies'].apply(lambda x : 1 if 'DC Comics' in x else 0).value_counts()

0    4788
1      15
Name: production_companies, dtype: int64